{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h1>Mes matières</h1>
    </div>
    <div class="panel-body">
        <table class="table">
            {% for group in myGroups %}
                <tr>
                    <td>
                        <a href="{{
                            path (
                                'formalibreBulletinListEleve', 
                                {
                                    'periode' : periode.getId(),
                                    'group' : group.getId()
                                }
                            )
                        }}">
                            {{ group.getName() }}
                        </a> 
                    </td>
                </tr>
            {% endfor %}
            
            {% for matiere in matieres %}
                <tr>
                    <td>
                        <a href="{{
                            path (
                                'formalibreBulletinListEleveProf', 
                                {
                                    'periode' : periode.getId(),
                                    'matiere' : matiere.getId()
                                }
                            )
                        }}">
                            {{ matiere.getCourse().getTitle() }} - {{ matiere.getName() }}
                        </a> 
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}