{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}
    {% set locked = periode.isLocked() %}
    <div class="panel-heading">
        <h1>Mes matières</h1>
    </div>
    <div class="panel-body">
        <table class="table">
            {% for group in myGroups %}
                <tr>
                    <td>
                        <a href="{{
                            path (
                                'formalibreBulletinListEleve', 
                                {
                                    'periode' : periode.getId(),
                                    'group' : group.getId()
                                }
                            )
                        }}">
                            {{ group.getName() }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            
            {% for matiere in matieres %}
                <tr>
                    <td>
                        {% if not locked %}
                        <a href="{{
                            path (
                                'formalibreBulletinListEleveProf', 
                                {
                                    'periode' : periode.getId(),
                                    'matiere' : matiere.getId()
                                }
                            )
                        }}">
                        {% endif %}
                            {% if locked %}
                                <i class="fa fa-lock"></i>
                            {% endif %}
                            {{ matiere.getCourse().getTitle() }} - {{ matiere.getName() }}
                        {% if not locked %}
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% if groups|length > 0 %}
            <span class="pointer-hand" data-toggle="collapse" href="#all-groups-collapse">
                <b>
                    {{ 'all_classes'|trans({}, 'bulletin') }}
                    <i class="fa fa-caret-down"></i>
                </b>
            </span>
            <div id="all-groups-collapse" class="table-responsive collapse">
                <table class="table">
                    {% for group in groups %}
                        <tr>
                            <td>
                                <a href="{{ path ('formalibreBulletinListEleve', {'periode' : periode.getId(), 'group' : group.getId(), 'type': 1}) }}">
                                    {{ group.getName() }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}