{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h1>Mes Groupes</h1>
    </div>
    <div class="panel-body">
        <table class="table">
            {% for group in myGroups %}
                <tr>
                    <td>
                        <a href="{{
                            path (
                                'formalibreBulletinListEleve', 
                                {
                                    'periode' : periode.getId(),
                                    'group' : group.getId()
                                }
                            )
                        }}">
                            {{ group.getName() }}
                        </a> 
                    </td>
                </tr>
            {% endfor %}
            
            {% for data in datas %}
                {% set matiere = data['matiere'] %}

                {% for group in data['groups'] %}
                    <tr>
                        <td>
                            <a href="{{
                                path (
                                    'formalibreBulletinListEleveProf', 
                                    {
                                        'periode' : periode.getId(),
                                        'group' : group.getId(),
                                        'matiere' : matiere.getId()
                                    }
                                )
                            }}">
                                {{ group.getName() }}
                                [{{ matiere.getCourse().getTitle() }}]
                            </a> 
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}