{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <div class="dropdown pull-right">
            <i class="fa fa-cogs dropdown-toggle pointer-hand"
               data-toggle="dropdown"
            >
            </i>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('formalibreBulletinAdminIndex') }}">
                        Admin Bulletin
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_configure_form') }}">
                        Configuration
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_matieres_options_management') }}">
                        Gestion des matières
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibreBulletinDecisionsList') }}">
                        Gestion des décisions
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibreBulletinGroupeTitulairesList') }}">
                        Gestion des titulaires
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_point_divers_management') }}">
                        Gestion des points divers
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibreBulletinPeriodesGroup') }}">
                        Gestion des groupes de périodes
                    </a>
                </li>
            </ul>
        </div>
        <h1>Configuration générale</h1>
        
    </div>
    
    <form action="{{ path('formalibre_bulletin_configure') }}"
          method="POST"
          novalidate
    >
        <div class="panel-body">
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({}, 'platform') }}
            </button>
            <a href="{{ path('formalibreBulletinAdminIndex') }}"
               class="btn btn-default"
            >
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
        </div>
    </form>
{% endblock %}