{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <div class="dropdown pull-right">
            <i class="fa fa-cogs dropdown-toggle pointer-hand"
               data-toggle="dropdown"
            >
            </i>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('formalibreBulletinAdminIndex') }}">
                        Admin Bulletin
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_configure_form') }}">
                        Configuration
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_matieres_options_management') }}">
                        Gestion des matières
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_groups_management') }}">
                        {{ 'class_management'|trans({}, 'bulletin') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibreBulletinDecisionsList') }}">
                        Gestion des décisions
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibreBulletinGroupeTitulairesList') }}">
                        Gestion des titulaires
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_point_divers_management') }}">
                        Gestion des points divers
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibreBulletinPeriodesGroup') }}">
                        Gestion des groupes de périodes
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_all_periodes_points_edition') }}">
                        {{ 'class_council'|trans({}, 'bulletin') }}
                    </a>
                </li>
            </ul>
        </div>
        <h1>Admin Bulletin</h1>
    </div>
    <div class="panel-body">
        <div style="visibility: hidden;"><hr></div>
            {% for group in periodesGroup%}
                <div class="row">
                <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        {{group.getName()}}
                    </div>
                    <div class="panel-body text-center">
                        {% for periode in periodes if periode.getPeriodesGroup() is not null and periode.getPeriodesGroup.getId()==group.getId() %}   
                            <div class="col-xs-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        {{ periode.Name }} - {{ attribute(periodeCompleted, periode.Id) }}{{"%"}}
                                        </br>
                                        <div class="btn-group row">  
                                            <div class="btn btn-default btn-sm editPeriodeBtn" role="button" data-periode-id="{{ periode.Id }}">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <a href="{{ path('formalibre_bulletin_periode_options_edit_form', {'periode': periode.getId()}) }}"
                                               class="btn btn-default btn-sm"
                                            >
                                                <i class="fa fa-cog"></i>
                                            </a>
                                            <div class="btn btn-default btn-sm refresh-periode-btn" role="button" data-periode-id="{{ periode.Id }}">
                                                <i class="fa fa-refresh"></i>
                                            </div>
                                            <button class="btn btn-default btn-sm delete-periode-btn" role="button" 
                                                data-periode="{{ periode.id }}"
                                                data-name="{{ periode.name }}"
                                            >
                                                <i class="fa fa-trash-o" 
                                                    data-periode="{{ periode.id }}"
                                                    data-name="{{ periode.name }}">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body text-center">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ attribute(periodeCompleted, periode.Id) }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ attribute(periodeCompleted, periode.Id) }}%;">
                                            {{ attribute(periodeCompleted, periode.Id) }}%
                                        </div>
                                    </div>
                                    <div class="btn btn-default" role="button">
                                        <a href="{{ path('formalibreBulletinListClasse', {'periode' : periode.id()}) }}"> <i class="fa fa-search fa-3x "></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}            
                    </div>
                </div>    
            {% endfor %}
            <div class="row">
            <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                        {{"Périodes non classées"}}
                </div>
                <div class="panel-body text-center">
                    {% for periode in periodes if periode.getPeriodesGroup() is null%}   
                        <div class="col-xs-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    {{ periode.Name }} - {{ attribute(periodeCompleted, periode.Id) }}{{"%"}}
                                    </br>
                                    <div class="btn-group row">  
                                        <div class="btn btn-default btn-sm editPeriodeBtn" role="button" data-periode-id="{{ periode.Id }}">
                                            <i class="fa fa-edit"></i>
                                        </div>
                                        <a href="{{ path('formalibre_bulletin_periode_options_edit_form', {'periode': periode.getId()}) }}"
                                           class="btn btn-default btn-sm"
                                        >
                                            <i class="fa fa-cog"></i>
                                        </a>
                                        <div class="btn btn-default btn-sm refresh-periode-btn" role="button" data-periode-id="{{ periode.Id }}">
                                            <i class="fa fa-refresh"></i>
                                        </div>
                                        <button class="btn btn-default btn-sm delete-periode-btn" role="button" 
                                            data-periode="{{ periode.id }}"
                                            data-name="{{ periode.name }}"
                                        >
                                            <i class="fa fa-trash-o" 
                                                data-periode="{{ periode.id }}"
                                                data-name="{{ periode.name }}">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ attribute(periodeCompleted, periode.Id) }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ attribute(periodeCompleted, periode.Id) }}%;">
                                        {{ attribute(periodeCompleted, periode.Id) }}%
                                    </div>
                                </div>
                                <div class="btn btn-default" role="button">
                                    <a href="{{ path('formalibreBulletinListClasse', {'periode' : periode.id()}) }}"> <i class="fa fa-search fa-3x "></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}            
                </div>
            </div>
            </div>
            </div>
           
            <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Ajouter une période
                </div>
                <div class="panel-body text-center">
                    <div class="btn btn-default addPeriodeBtn" role="button">
                        <i class="fa fa-plus-circle fa-3x "></i>
                    </div>

                </div>
            </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script
            src='{{ asset('bundles/formalibrebulletin/js/admin.js') }}'
            type="text/javascript">
    </script>
{% endblock %}
