{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h1> {{ periode.name }} - Bulletin de {{ eleve.getFirstName() }} {{ eleve.getLastName() }}</h1>
    </div>
    <div class="panel-body">
        <div class="panel panel-info">
            <div class="panel-heading">Valeurs particulières</div>
            <div class="panel-body">
                {% for code in codes %}
                    <div>
                        {{ code['info']|trans({}, 'bulletin') }} : <b>{{ code['code'] }}</b>
                    </div>
                {% endfor %}
                N'oubliez pas d'<b>enregistrer</b> en cliquant sur le bouton en bas de page
            </div>
        </div>
        <div ng-cloak="" ng-app="ElevePointsModule">
            <div ui-view>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'bulletin' }) }}"></script>
    <script>
        window.isBulletinAdmin = {{ isBulletinAdmin ? 'true' : 'false' }}
        window.isPointOnly = {{ periode.getOnlyPoint() ? 'true' : 'false' }}
        window.hasSecondPoint = {{ hasSecondPoint ? 'true' : 'false' }}
        window.hasThirdPoint = {{ hasThirdPoint ? 'true' : 'false' }}
        window.secondPointName = '{{ secondPointName }}'
        window.thirdPointName = '{{ thirdPointName }}'
        window.sessions = {{ sessions|json_encode|raw }}
        window.pemps = {{ pemps|json_encode|raw }}
        window.pepdps = {{ pepdps|json_encode|raw }}
        window.codes = {{ codes|json_encode|raw }}
        window.defaultCode = {{ defaultCode|json_encode|raw }}
        window.periodeName = '{{ periode.getName() }}'
        window.firstName = '{{ eleve.getFirstName() }}'
        window.lastName = '{{ eleve.getLastName() }}'
    </script>
    <script src="{{ hotAsset('dist/formalibre-bulletin-eleve-points.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/formalibrebulletin/css/bulletinEdit.css')}}"/>
{% endblock %}