{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h1>Liste des titulaires de groupe</h1>
    </div>
    <div class="panel-body">
        
        {% if titulaireGroups|length > 0 %}
            
            {% for titulaireGroup in titulaireGroups %}
                {% set user = titulaireGroup['user'] %}
                <h4>{{ user.getFirstName() }} {{ user.getLastName() }}</h4>
                
                <ul>
                    
                    {% for datas in titulaireGroup['groups'] %}
                        {% set group = datas['group'] %}
                        <li>
                            {{ group.getName() }}
                            <span class="btn btn-default btn-sm edit-groupe-titulaire-btn"
                                  data-groupe-titulaire-id="{{ datas['groupeTitulaireId'] }}"
                            >
                                <i class="fa fa fa-edit"></i>
                            </span>
                            <span class="btn btn-danger btn-sm delete-groupe-titulaire-btn"
                                  data-groupe-titulaire-id="{{ datas['groupeTitulaireId'] }}"
                            >
                                <i class="fa fa-trash"></i>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
                <hr>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning">
                Aucun titulaire de groupe
            </div>
        {% endif %}
        <br>
        <span class="btn btn-primary" id="groupe-titulaire-create-btn">
            <i class="fa fa-plus-circle"></i>
            Ajouter un titulaire
        </span>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/formalibrebulletin/js/groupeTitulairesList.js') }}'
            type="text/javascript">
    </script>
{% endblock %} 