{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <div class="dropdown pull-right">
            <i class="fa fa-cogs dropdown-toggle pointer-hand"
               data-toggle="dropdown"
            >
            </i>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('formalibreBulletinAdminIndex') }}">
                        Admin Bulletin
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_configure_form') }}">
                        Configuration
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_matieres_options_management') }}">
                        Gestion des matières
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_groups_management') }}">
                        {{ 'class_management'|trans({}, 'bulletin') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibreBulletinDecisionsList') }}">
                        Gestion des décisions
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibreBulletinGroupeTitulairesList') }}">
                        Gestion des titulaires
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_point_divers_management') }}">
                        Gestion des points divers
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibreBulletinPeriodesGroup') }}">
                        Gestion des groupes de périodes
                    </a>
                </li>
            </ul>
        </div>
        <h1>{{ 'class_management'|trans({}, 'bulletin') }}</h1>
    </div>
    <div class="panel-body">
        <div ng-cloak="" ng-app="GroupsModule">
            <div ui-view>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('packages/angular-loading-bar/build/loading-bar.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('packages/ng-table/dist/ng-table.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.classes = {{ classes|json_encode|raw }}
    </script>
    <script type='text/javascript' src="{{ asset('packages/angular/angular.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('packages/angular-loading-bar/build/loading-bar.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('packages/ng-table/dist/ng-table.js') }}"></script>
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'bulletin' }) }}"></script>
    <script src="{{ hotAsset('dist/formalibre-bulletin-groups.js') }}"></script>
{% endblock %}