{% macro renderPager(pager, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'formalibre_bulletin_matieres_options_management',
                'routeParams': {'max': max}
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}

{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <div class="dropdown pull-right">
            <i class="fa fa-cogs dropdown-toggle pointer-hand"
               data-toggle="dropdown"
            >
            </i>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('formalibreBulletinAdminIndex') }}">
                        Admin Bulletin
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_configure_form') }}">
                        Configuration
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_matieres_options_management') }}">
                        Gestion des matières
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibreBulletinDecisionsList') }}">
                        Gestion des décisions
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibreBulletinGroupeTitulairesList') }}">
                        Gestion des titulaires
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibre_bulletin_point_divers_management') }}">
                        Gestion des points divers
                    </a>
                </li>
                <li>
                    <a href="{{ path('formalibreBulletinPeriodesGroup') }}">
                        Gestion des groupes de périodes
                    </a>
                </li>
            </ul>
        </div>
        <h1>Configuration des matières</h1>
    </div>
    <div class="panel-body" ng-app="CourseManager">
        <coursemanager>
        </coursemanager>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/angular-ui.css')}}"> </link>
    {# we should be able to remove the following line if it's included in angular-ui.css #}
    <link rel="stylesheet" href="{{ asset('bundles/clarolinecore/css/common/select.css') }}"></link>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Set some vars needed by Angular parts #}
    <script src="{{ hotAsset('dist/formalibre-bulletin-course-management.js') }}"></script>
{% endblock %}
    