<div id="modal-periode-form" class="modal-dialog" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h3 class="modal-title">
                {{ title }}
            </h3>
        </div>
        <div class="modal-body">
            <form
                role="form"
                id="Periode-form"
                class="form-horizontal"
                action="{{ action }}"
                method="post"
                {{ form_enctype(form) }}
            >
                <div class="panel-body">
                    {{"Nom"}}{{ form_widget(form.name) }}</br>
                    {{"Date de début"}}{{ form_widget(form.start) }}</br>
                    {{"Date de fin"}}{{ form_widget(form.end) }}</br>
                    {{"Ajouter au groupe"}}{{ form_widget(form.periodesGroup) }}</br>
                    {{"Semestre"}}{{ form_widget(form.periodeSet) }}</br>
                    {{"Réunion des parents"}}{{ form_widget(form.ReunionParent) }}</br>
                    {{"Template"}}{{ form_widget(form.template) }}</br>
                    <div id="title">
                        {{"Options du template:"}}</br>
                    </div>
                    <div id="P1">
                        {{"Période 1"}}{{ form_widget(form.oldPeriode1) }}</br>
                    </div>
                    <div id="P2">
                        {{"Période 2"}}{{ form_widget(form.oldPeriode2) }}</br>
                    </div>
                    <div id="P3">
                        {{"Examen"}}{{ form_widget(form.oldPeriode3) }}</br>
                    </div>
                    <div id="P4">
                        {{"Période 3"}}{{ form_widget(form.oldPeriode4) }}</br>
                    </div>
                    <div id="P5">
                        {{"Période 4"}}{{ form_widget(form.oldPeriode5) }}</br>
                    </div>
                    {{"Pondération de la période"}}{{ form_widget(form.coefficient) }}
                    <br>
                    <div>
                        <div class="col-md-3">{{ 'locked'|trans({}, 'platform') }}</div>
                        <div class="col-md-9">{{ form_widget(form.locked) }}</div>
                    </div>
                    <div>
                        <div class="col-md-3">{{ 'published'|trans({}, 'platform') }}</div>
                        <div class="col-md-9">{{ form_widget(form.published) }}</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <span class="btn btn-default" data-dismiss="modal">
                Annuler
            </span>
            <button type="submit" id='create-btn' class="btn btn-primary">
                OK
            </button>
        </div>
    </div>
</div>
{% block javascripts %}
   <script>
        
        $(document).ready(function() {
            var liste, valeur;
            liste = document.getElementById("PeriodeForm_template");
            valeur = liste.options[liste.selectedIndex].value;

            if(valeur === "PeriodePrint"){
                $('#title').hide();
                $('#P1').hide();
                $('#P2').hide();
                $('#P3').hide();
                $('#P4').hide();
                $('#P5').hide();}

            if (valeur === 'ExamPrint'){
                $('#P3').hide();
                $('#P4').hide();
                $('#P5').hide();}

            if (valeur === 'ExamPrintWithOnlyOnePeriodePrint'){
                $('#P2').hide();
                $('#P3').hide();
                $('#P4').hide();
                $('#P5').hide();}
        });
        
        PeriodeForm_template.onchange = function() {
            var liste, valeur;
            liste = document.getElementById("PeriodeForm_template");
            valeur = liste.options[liste.selectedIndex].value;

            if(valeur === "PeriodePrint"){
                $('#title').hide();
                $('#P1').hide();
                $('#P2').hide();
                $('#P3').hide();
                $('#P4').hide();
                $('#P5').hide();}

            if (valeur === "ExamPrint"){
                $('#title').show();
                $('#P1').show();
                $('#P2').show();
                $('#P3').hide();
                $('#P4').hide();
                $('#P5').hide();}

            if (valeur === "ExamPrintWithOnlyOnePeriodePrint"){
                $('#title').show();
                $('#P1').show();
                $('#P2').hide();
                $('#P3').hide();
                $('#P4').hide();
                $('#P5').hide();}
            
            if (valeur === "FinalExamPrint"){
                $('#title').show();
                $('#P1').show();
                $('#P2').show();
                $('#P3').show();
                $('#P4').show();
                $('#P5').show();}
        }

    </script>
{% endblock %} 