{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h2>Gestion des options de la période [{{ periode.getName() }}]</h2>
    </div>
    <div id="sessions-panel" class="panel panel-default" ng-app="SessionManager">
        <div class="panel-body">
            <session-manager>
        </div>
    </div>
    <form action="{{ path('formalibre_bulletin_periode_options_edit_submit', {'periode': periode.getId()}) }}"
          method="POST"
          {{ form_enctype(form) }}
          novalidate
    >
        <div class="panel-body">
            <h3>Point divers</h3>
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({}, 'platform') }}
            </button>
            <a href="{{ path('formalibreBulletinAdminIndex') }}"
               class="btn btn-default"
            >
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
        </div>
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/angular-ui.css')}}"> </link>
    {# we should be able to remove the following line if it's included in angular-ui.css #}
    <link rel="stylesheet" href="{{ asset('bundles/clarolinecore/css/common/select.css') }}"></link>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Set some vars needed by Angular parts #}
    <script type="text/javascript">
        {# Make Twig variables accessibles by AngularJS #}
        var AngularApp = {};
        AngularApp.periode = {{ periode.getId() }}
    </script>

    <script src="{{ hotAsset('dist/formalibre-bulletin-session-management.js') }}"></script>
{% endblock %} 