{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h1>Liste des points divers</h1>
    </div>
    <div class="panel-body">
        
        {% if allPointDivers|length > 0 %}
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Nom</th>
                        <th>Nom officiel</th>
                        <th class="text-center">Total</th>
                        <th></th>
                    </tr>
                
                    {% for pointDivers in allPointDivers %}
                        <tr>
                            <td>{{ pointDivers.getName() }}</td>
                            <td>{{ pointDivers.getOfficialName() }}</td>
                            <td class="text-center">
                                {% if pointDivers.getWithTotal() %}
                                    <i class="fa fa-check-circle" style="color: #5CB85C"></i>
                                {% else %}
                                    <i class="fa fa-times-circle" style="color: #D9534F"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <span class="btn-group">
                                    <i class="btn btn-default fa fa-edit point-divers-edit-btn"
                                       data-point-divers-id="{{ pointDivers.getId() }}"
                                    >
                                    </i>
                                    <i class="btn btn-danger fa fa-trash point-divers-delete-btn"
                                       data-point-divers-id="{{ pointDivers.getId() }}"
                                    >
                                    </i>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="alert alert-warning">
                Aucun point divers
            </div>
        {% endif %}
        <br>
        <span class="btn btn-primary" id="point-divers-create-btn">
            <i class="fa fa-plus-circle"></i>
            Créer un point divers
        </span>
        <a href="{{ path('formalibreBulletinAdminIndex') }}"
           class="btn btn-default"
        >
            Retour
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/formalibrebulletin/js/pointDiversManagement.js') }}'
            type="text/javascript">
    </script>
{% endblock %} 