<!DOCTYPE html>
<html lang="fr" moznomarginboxes mozdisallowselectionprint>
    <head>
        <meta charset="utf-8">
        <title>Bulletin</title>
        <link rel="stylesheet" href="{{ asset('bundles/formalibrebulletin/css/bootstrap.css')}}"/>
        <link rel="stylesheet" href="{{ asset('bundles/formalibrebulletin/css/completePrint.css')}}"/>
    </head>
    <body>
        <div class="container" id="content">
            <div class="row">
                <div class="col-xs-3"><img src="http://www.fransfischer.be/logoFFnb.png" height="125px"></div>
                <div class="col-xs-7" id="title-box">
                    <h1>Bulletin</h1>
                </div>
                <div class="col-xs-2" id="NomEleve">
                    2015-2016<br>
                    {{ eleve.getLastName() }}<br>
                    {{ eleve.getFirstName() }}

                    {% if classe is defined and classe is not empty %}
                        <br>
                        {{ classe.getName() }}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <table id="TableauRes" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="firstcolumn">Intitulé matière</th>

                            {% for periodeDatas in periodes %}
                                {% if periodeDatas['periodeSet'] == 1 %}
                                    <th class="center">{{ periodeDatas['name'] }}</th>
                                {% endif %}
                            {% endfor %}
                            <th>% intermédiaire 1</th>
                            <td class="empty-column"></td>

                            {% for periodeDatas in periodes %}
                                {% if periodeDatas['periodeSet'] == 2 %}
                                    <th class="center">{{ periodeDatas['name'] }}</th>
                                {% endif %}
                            {% endfor %}
                            <th>% intermédiaire 2</th>
                            <th class="center">% final</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for matiereDatas in matieres %}
                            {% set matiereId = matiereDatas['matiereId'] %}
                            <tr>
                                <td>{{ matiereDatas['matiereName'] }}</td>

                                {% for periodeDatas in periodes %}
                                    {% if periodeDatas['periodeSet'] == 1 %}
                                        {% set periodeId = periodeDatas['id'] %}
                                        <td class="text-center" nowrap="nowrap">
                                            {% if matiereDatas['periodes'][periodeId]['pempId'] is defined %}
                                                {% set pempId = matiereDatas['periodes'][periodeId]['pempId'] %}
                                                {% set point = pemps[pempId] %}

                                                {% if codes[point] is defined %}
                                                    {{ codes[point]['info']|trans({}, 'bulletin') }}
                                                {% else %}
                                                    {{ pemps[pempId] }}
                                                    /
                                                    {{ matiereDatas['periodes'][periodeId]['total'] }}
                                                {% endif %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td class="text-center" nowrap="nowrap">
                                    {% if totalMatieres[matiereId] is defined and
                                          totalMatieres[matiereId]['periodeSetsTotal'] is defined and
                                          totalMatieres[matiereId]['periodeSetsTotal'][1] is defined and
                                          totalMatieres[matiereId]['periodeSetsTotal'][1]['percentage']
                                    %}
                                        {{ totalMatieres[matiereId]['periodeSetsTotal'][1]['percentage'] }} %
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="empty-column"></td>

                                {% for periodeDatas in periodes %}
                                    {% if periodeDatas['periodeSet'] == 2 %}
                                        {% set periodeId = periodeDatas['id'] %}
                                        <td class="text-center" nowrap="nowrap">
                                            {% if matiereDatas['periodes'][periodeId]['pempId'] is defined %}
                                                {% set pempId = matiereDatas['periodes'][periodeId]['pempId'] %}
                                                {% set point = pemps[pempId] %}

                                                {% if codes[point] is defined %}
                                                    {{ codes[point]['info']|trans({}, 'bulletin') }}
                                                {% else %}
                                                    {{ pemps[pempId] }}
                                                    /
                                                    {{ matiereDatas['periodes'][periodeId]['total'] }}
                                                {% endif %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td class="text-center" nowrap="nowrap">
                                    {% if totalMatieres[matiereId] is defined and
                                          totalMatieres[matiereId]['periodeSetsTotal'] is defined and
                                          totalMatieres[matiereId]['periodeSetsTotal'][2] is defined and
                                          totalMatieres[matiereId]['periodeSetsTotal'][2]['percentage']
                                    %}
                                        {{ totalMatieres[matiereId]['periodeSetsTotal'][2]['percentage'] }} %
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>

                                <td class="text-center" nowrap="nowrap">
                                    {% if totalMatieres[matiereId] is defined and totalMatieres[matiereId]['final'] is defined %}
                                        {{ totalMatieres[matiereId]['final'] }} %
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if matiereDatas['deliberated'] %}
                                        D
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th>Total</th>

                            {% for periodeDatas in periodes %}
                                {% if periodeDatas['periodeSet'] == 1 %}
                                    {% set periodeId = periodeDatas['id'] %}
                                    <td class="text-center" nowrap="nowrap">
                                        {% if totalPeriodes[periodeId] is defined %}
                                            <b>{{ totalPeriodes[periodeId] }} %</b>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td class="text-center" nowrap="nowrap">
                                {% if totalPeriodeSets[1] is defined and totalPeriodeSets[1]['percentage'] is defined %}
                                    <b>{{ totalPeriodeSets[1]['percentage'] }} %</b>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="empty-column"></td>

                            {% for periodeDatas in periodes %}
                                {% if periodeDatas['periodeSet'] == 2 %}
                                    {% set periodeId = periodeDatas['id'] %}
                                    <td class="text-center" nowrap="nowrap">
                                        {% if totalPeriodes[periodeId] is defined %}
                                            <b>{{ totalPeriodes[periodeId] }} %</b>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td class="text-center" nowrap="nowrap">
                                {% if totalPeriodeSets[2] is defined and totalPeriodeSets[2]['percentage'] is defined %}
                                    <b>{{ totalPeriodeSets[2]['percentage'] }} %</b>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="text-center"><b>{{ finalPercentage }} %</b></td>
                        </tr>
                        <tr class="empty-row">
                            <th colspan="{{ (periodes|length) + 5 }}"></th>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="{{ (periodes|length) + 5 }}">
                                Points divers
                            </th>
                        </tr>

                        {% for pointDivers in pointsDiversDatas %}
                            {% set pointDiversId = pointDivers['id'] %}
                            <tr>
                                <td>{{ pointDivers['name'] }}</td>

                                {% for periodeDatas in periodes %}
                                    {% if periodeDatas['periodeSet'] == 1 %}
                                        {% set periodeId = periodeDatas['id'] %}
                                        <td class="text-center">
                                            {% if periodeDatas['pointsDivers'][pointDiversId] is defined %}
                                                {{ periodeDatas['pointsDivers'][pointDiversId]['point'] }}

                                                {% if pointDivers['withTotal'] %}
                                                    /
                                                    {{ pointDivers['total'] }}
                                                {% endif %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td class="empty-column"></td>
                                <td class="empty-column"></td>

                                {% for periodeDatas in periodes %}
                                    {% if periodeDatas['periodeSet'] == 2 %}
                                        {% set periodeId = periodeDatas['id'] %}
                                        <td class="text-center">
                                            {% if periodeDatas['pointsDivers'][pointDiversId] is defined %}
                                                {{ periodeDatas['pointsDivers'][pointDiversId]['point'] }}

                                                {% if pointDivers['withTotal'] %}
                                                    /
                                                    {{ pointDivers['total'] }}
                                                {% endif %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td class="empty-column"></td>

                                <td class="text-center">
                                    {% if totalPointsDivers[pointDiversId] is defined %}
                                        {{ totalPointsDivers[pointDiversId] }}

                                        {% if pointDivers['withTotal'] %}
                                            %
                                        {% endif %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-xs-3 signature">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Signature du directeur
                        </div>
                        <div class="panel-body">
                            {% if isBulletinAdmin is defined and isBulletinAdmin %}
                                <img src="{{ asset('bundles/formalibrebulletin/images/Signature.jpg') }}"
                                     alt=""
                                     id="signature-directeur"
                                >
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 signature">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Signature du titulaire
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                <div class="col-xs-3 signature">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Signature de l'élève
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                <div class="col-xs-3 signature">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Signature des parents
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
